services:
  db:
    image: postgres:16-alpine
    container_name: codeconnect-db
    environment:
      POSTGRES_DB: codeconnect
      POSTGRES_USER: codeconnect
      POSTGRES_PASSWORD: codeconnect_password
    ports:
        - "5433:5432"

    volumes:
      - db_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U codeconnect -d codeconnect"]
      interval: 5s
      timeout: 5s
      retries: 10

  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: codeconnect-app
    env_file:
      - .env.docker
    volumes:
      - .:/var/www/html
    depends_on:
      db:
        condition: service_healthy

  nginx:
    image: nginx:alpine
    container_name: codeconnect-nginx
    ports:
      - "8080:80"
    volumes:
      - .:/var/www/html
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app

volumes:
  db_data:
